# Comment
boolean.yesno.yes=yes
boolean.yesno.no=no
boolean.yesno.true=true
boolean.yesno.false=false
boolean.yesno.null=

boolean.truefalse.yes=yes
boolean.truefalse.no=no
boolean.truefalse.true=true
boolean.truefalse.false=false
boolean.truefalse.null=

string.regex.letters.abcd=abcd
string.regex.letters.AbCd=AbCd
string.regex.letters.1abc=1abc
string.regex.letters.abc_=abc_

number.100=100
number.one=one
number.5.5=5.5
number.0=0
number.0.0=0.0

#testing comment line containing an =
uncommented=true
#commented=true

#testing spaces
spaces.none=spaces
spaces.left =spaces
spaces.right= spaces
 spaces.leading = spaces
spaces.trailing = spaces 
  spaces.lots  =     spaces   
spaces.between=spa ces
